---
---
$primary: #1E2A78;
$navbar-background-color: rgba(#1e2a78, 0.66) !important;
$navbar-item-active-background-color: rgba(#1e2a78, 0.9) !important;
// Import Main CSS file from theme
@import "main";
