---
layout: default
---
{% include header.html %}
<main class="content" role="main" id="hero-about">
    <section class="main-content">
      {{ content }}
      <form
        action="https://formspree.io/f/maylovzq"
        method="POST"
       >
        <label>
          Your email:
          <input type="text" name="_replyto">
        </label>
        <label>
          Your message:
          <textarea name="message"></textarea>
        </label>

        <!-- your other form fields go here -->

        <button type="submit">Send</button>
      </form>
      {% include footer.html %}
    </section>
</main>
