---
layout: default
---
  {{ content }}

<div class="box">
  <form
    action="https://formspree.io/f/maylovzq"
    method="POST"
  >
    <label class="label">
      Your email:
      <input class="input" type="text" name="_replyto" placeholder="Your email address">
    </label>
    <label class="label">
      Your message:
      <textarea class="input" name="message" placeholder="Write something..." ></textarea>
    </label>
      <!-- your other form fields go here -->
      <button class="button" type="submit">Send</button>
  </form>
</div>
